body{
    padding-top: 0 !important;
}
p img{
    width:100%;
}
.fixed_menu .header{
    position: fixed;
    z-index: 99999;
}
.fixed_menu .wrapper{
    padding-top: 56px;
}
@media (min-width:992px){
    .fixed_menu .left-side{
        position: fixed;
    }
}
@media (min-width:250px) and (max-width:560px){
    .fixed_menu .wrapper{
        padding-top: 110px;
    }
    .left-side {
        top:110px;
    }
}
@media (min-width:561px) and (max-width:768px){
    .left-side {
        top:50px;
    }
}